.top{
    min-height: 230px;
    width: 100%;
    background: #53c9fc;
}
.section{
    margin-top: 10px;
    min-width: 50px;
    background: #fff;
    width: 100%;
}
.am-list-content{
    color: #999 !important;
}